<!DOCTYPE html>
<html lang="en">
{% load my_tag %} {# 导入我们的方法 #}
<head>

    <meta charset="UTF-8">
    <title>braveBoy的个人博客 </title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/base.css">
    {% block css %}
        <link rel="stylesheet" href="/static/my/css/index.css">
    {% endblock %}

    <link rel="stylesheet" href="/static/fontawesome-free-5/css/all.min.css">
    {# 用于图标 #}

    <script src="/static/vue/vue.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <!-- import CSS样式 -->
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <!-- import JavaScript element组件库 -->
    <script src="/static/elementui/index.js"></script>
</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/my/css/theme/' + theme + '.css'">
    <nav>
        <div class="left">
            <a href="/">首页</a>
            <a href="/news/">新闻</a>
            <a href="#">心情</a>
            <a href="#">回忆录</a>
            <a href="#">关于</a>
            <a href="#">网站导航</a>
        </div>
        <div class="right">
            <img v-show="theme ==='light'" src="/static/my/img/nav/light.svg" @click="setTheme('dark')" alt="">
            <img v-show="theme ==='dark'" src="/static/my/img/nav/dark.svg" @click="setTheme('light')" alt="">
            {#            <a href="#" @click="setTheme('light')">白色主题</a>#}
            {#            <a href="#" @click="setTheme('dark')">黑色主题</a>#}

            {% if request.user.username %}
                {#                下拉菜单的代码 #}
                <el-dropdown>
                    <span class="el-dropdown-link">
                        {{ request.user.username }}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a href="/backend">个人中心</a></el-dropdown-item>
                        <el-dropdown-item><a href="/backend/edit_avatar">修改头像</a></el-dropdown-item>
                        <el-dropdown-item><a href="/backend/add_article">发布文章</a></el-dropdown-item>
                        <el-dropdown-item><a href="/admin">后台管理</a></el-dropdown-item>
                        <el-dropdown-item><a href="/logout">注销退出</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            {% else %}
                <a href="/login">登录</a>
                <a href="/sign">注册</a>
            {% endif %}
        </div>
    </nav>

    {% block banner %}
        {#轮播图#}
        {% banner 'index' %}
    {% endblock %}

    <main>
        {% block main %}
            <div class="main">
                <div class="left">
                    <div class="boutique_article card">
                        <div class="title">
                            <h2>精选文章</h2>
                            <div class="switch_article_category">
                                <span :active="this_category === 'qianduan'"
                                      @click="switch_article_category('qianduan')">前端</span>
                                <span :active="this_category === 'houduan'" @click="switch_article_category('houduan')">后端</span>
                            </div>
                        </div>
                        <div class="body">
                            <ul v-show="this_category === 'qianduan'" class="qianduan">

                                {% for frontend in frontend_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ frontend.cover.url.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ frontend.nid }}">{{ frontend.title }}</a></h2>
                                            <p>{{ frontend.abstract }}</p>
                                            <span>{{ frontend.create_data }}</span>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            <ul v-show="this_category === 'houduan'" class="houduan">

                                {% for backend in backend_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ backend.cover.url.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ backend.nid }}">{{ backend.title }}</a></h2>
                                            <p>{{ backend.abstract }}</p>
                                            <span>{{ backend.create_data }}</span>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="hot_list card">
                        <div class="title">
                            <h2>今日热搜</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区
                        </div>
                    </div>
                    <div class="all_article card">
                        <div class="title">
                            <h2>博客文章</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            <ul>
                                {% for article in article_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ article.cover.url.url }}" alt="小秘密噢有">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                                            <p>{{ article.abstract }}</p>
                                            <div class="article_info">
                                                <span><i class="far fa-clock"></i>{{ article.create_date }}</span>
                                                <span><i class="fas fa-thumbs-up"></i>{{ article.digg_count }}</span>
                                                <span><i class="fas fa-eye"></i>{{ article.look_count }}</span>
                                                <span><i class="fas fa-comments"></i>{{ artile.comment_count }}</span>
                                                <span><i
                                                        class="fas fa-star-half-alt"></i>{{ article.collects_count }}</span>
                                            </div>
                                            <a href="/article/{{ article.nid }}/" target="_blank">查看详情</a>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="advertisements card">
                        <div class="title">
                            <h2>独家广告</h2>
                            <div>
                                <a href="#">申请</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区
                        </div>
                    </div>
                    <div class="tags card">
                        <div class="title">
                            <h2>标签云</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="site_info card">
                        <div class="title">
                            <h2>站点信息</h2>
                            <div>

                            </div>
                        </div>
                        <div class="body">
                            主要内容区
                        </div>
                    </div>
                    <div class="links card">
                        <div class="title">
                            <h2>友情链接</h2>
                            <div>

                            </div>
                        </div>
                        <div class="body">
                            主要内容区
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>

    <footer>
        <div class="left">
            <p class="thank">Thanks For You</p>
            <p class="site_info">
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯云服务器</span>
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯SSL证书</span>
                <span><img src="/static/my/img/footer/qiniu.png" alt="">七牛云存储</span>
            </p>
            <p class="version">
                <span>version</span>
                <span>1.0.0</span>
            </p>
            <p>
                建站日期：2023-9-27
            </p>
            <p class="beian">
                <span href="https://beian.mitt.gov.cn/"><img src="/static/my/img/footer/badges.png"
                                                             alt="">备案号xxxx</span>
            </p>
        </div>
        <div class="right">
            <div class="contact">
                <div class="QQ">
                    <img class="svg_qq" src="/static/my/img/footer/qq_icon.svg" alt="">
                    <img class="qq" src="/static/my/img/footer/qq.png" alt="">
                </div>
                <div class="WeChat">
                    <img class="svg_wechat" src="/static/my/img/footer/wexin_icon.svg" alt="">
                    <img class="wechat" src="/static/my/img/footer/wechat.png" alt="">
                </div>
            </div>
            <p>联系方式:oo0zccoo0@gamil.com</p>
        </div>
    </footer>
</div>

<script src="/static/axios/axios.min.js"></script>

{% block js %}
    <script>
        {# 我们axios自己的中间件 #}
        axios.interceptors.request.use(
            request => {
                if (request.method !== 'get') {
                    let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    {# 获取token #}

                    request.headers['X-CSRFToken'] = csrftoken
                }
                return request
            }
        )
        axios.interceptors.response.use(
            response => {
                return response.data
            }
        )

        new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data: {
                theme: "light", //默认的主题
                this_category: "qianduan", //当前精选文章所选
                comment_content: "",  //评论内容
            },
            created() {//用于读取localStorage中的信息
                this.init_theme()
            },

            methods: {
                //初始化主题
                init_theme() {

                    let theme = localStorage.getItem('theme')
                    if (theme) {
                        this.theme = theme

                    }
                },
                //设置主题
                setTheme(themeName) {
                    this.theme = themeName// 需要写入到localStorage中
                    localStorage.setItem('theme', themeName)
                },
                //切换精选文章
                switch_article_category(categoryName) {
                    this.this_category = categoryName;
                },

                //发布评论
                add_comment(nid) {
                    axios.post(`/api/article/comment/${nid}/`, {content: this.comment_content}).then(res => {
                        if (res.code) {
                            if (res.self) {
                                this.$refs[`comment_${res.self}`].focus();
                            }
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {  // 定时器
                            location.reload()  // 刷新
                        }, 1000)

                    })
                },

                //显示被评论者的名称
                set_sub_placeholder(div, username, cid, zcx_content) {
                    $(div).find('textarea').attr('placeholder', `@${username}:${zcx_content}`)
                    $(div).find('textarea').attr('cid', cid)
                },

                //展示子评论列表
                show_sub_comment_list(e, username, cid, zcx_content) {
                    let div = $(e.target).parent().parent().next()
                    $(div).slideToggle()
                    this.set_sub_placeholder(div, username, cid, zcx_content)
                },

                //子评论回复显示
                sub_comment_set_placeholder(e, username, cid, zcx_content) {
                    let div = $(e.target).parents('.sub_comment_list')
                    this.set_sub_placeholder(div, username, cid, zcx_content)

                },

                //增加子评论
                add_sub_comment(e, nid) {
                    //nid文章id  cid评论id
                    axios.post(`/api/article/comment/${nid}/`, {
                        content: $(e.target).prev().val(),
                        pid: $(e.target).prev().attr('cid')
                    }).then(res => {
                        if (res.code) {
                            if (res.self) {
                                this.$refs[`sub_comment_${res.self}`].focus();
                            }
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {  // 定时器
                            location.reload()  // 刷新
                        }, 1000)
                    })

                },

                // 删除评论
                delete_sub_comment(nid) {
                    this.$confirm('将永远删除该评论,是否继续', 'Warning', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.delete(`/api/article/comment/${nid}/`).then(res => {
                        if (res.code) {
                            this.$message.error(res.msg)
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {  // 定时器
                            location.reload()  // 刷新
                        }, 1000)
                    })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消删除',
                        });
                    });

                },

                go_to_top() {
                },

            },
        })

        //轮播图
        //获取需要轮播的div
        let menu_img = document.querySelectorAll('.dynamic_shuffl')
        console.log(menu_img)
        //获取divs长度
        let menu_length = menu_img.length
        let index = 0
        let timer = null;
        clearInterval(timer)
        setInterval(() => {
            index++
            if (index === menu_length) {
                index = 0
                for (let i of menu_img) {
                    i.style.opacity = 0
                }
            }
            menu_img[index].style.opacity = 1
        }, 1000)
    </script>
{% endblock %}

{% block article_js %}

{% endblock %}
</body>
</html>